/*When screensize is computer screen size*/
@media screen and (min-width: 500px) {
*{
    margin: 0;
    box-sizing: border-box;
    font-size: 20;
    color:white;
}


html{
    scroll-behavior: smooth;
    background-color: black;
}


a {
text-decoration: none;
}

ul
{
    list-style: none;
    box-sizing: border-box;
}

.navmenu {    
    display: flex;
    align-items: center;
    margin-right: -24px;
    /* Second Nav */
    /* margin-right: 24px; */
    /* Third Nav */
    /* width: 100vw;
    white-space: nowrap; */
}
/* NavMemu Variation*/
.navbar {
    
    justify-content: space-between;
    align-items: baseline;
    height: 10vh;
}
.logo{
    padding-left: 2em;
}
.logo-text{
    font-size: 1.5em;
}

.menubar{
    width: 45%;
    padding: 5px 5px;
    margin-left: 8.5em;
    align-items: center;
    @media screen and (max-width: 768px) {
        width: 45%;
        padding: 50px 50px;
        margin-left: 0em;
        align-items: center;
    }
}


@media screen and (min-width: 825px) {
.banner1{
    height: 500px;
    display: block;
    max-width: 1520px;
    background: url("images/UserProfileBackgroundV1.png") center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: none;
}
}

.mainmenu
{
    padding-left: 2em;
    padding: 50px;
}

.special_icons
{
    display: flex;
}

}

/*When screensize is mobile*/
@media screen and (max-width: 500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 20;
        color:white;
    }
    /* #region name */
    .main
    {
        margin: 10px;
        padding: 10px;
    }
    
    html{
        scroll-behavior: smooth;
        background-color: black;
    }
    
    a {
    text-decoration: none;
    }
    
    ul
    {
        list-style: none;
        box-sizing: border-box;
    }
    
    .navmenu {    
        display: flex;
        align-items: center;
        margin-right: -24px;
        /* Second Nav */
        /* margin-right: 24px; */
        /* Third Nav */
        /* width: 100vw;
        white-space: nowrap; */
    }
    /* NavMemu Variation*/
    .navbar {
        
        justify-content: space-between;
        align-items: baseline;
        height: 10vh;
    }
    .logo{
        padding-left: 2em;
    }
    .logo-text{
        font-size: 1.5em;
    }
    
    .menubar{
        width: 45%;
        padding: 5px 5px;
        margin-left: 8.5em;
        align-items: center;
        @media screen and (max-width: 768px) {
            width: 45%;
            padding: 50px 50px;
            margin-left: 0em;
            align-items: center;
        }
    }
    
    
    @media screen and (min-width: 825px) {
    .banner1{
        height: 500px;
        display: block;
        max-width: 1520px;
        background: url("images/UserProfileBackgroundV1.png") center center/cover;
        top: 0;
        left: 0;
        z-index: -1;
        min-width: none;
    }
    }
    
    .mainmenu
    {
        padding-left: 2em;
        padding: 50px;
    }
    
    .special_icons
    {
        display: flex;
    }

}

/* #region name */
.main
{
    --padding: 12.5vw;
    margin: 10px;
    padding: 10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: inline-block;
}

.main h1
{
    color:rgb(143, 0, 143);
    text-decoration: underline;
}

.grid-element
{
    --gridwidth: 300px;
    display: inline-block;
    /*border: 2px solid white;*/
    justify-content: space-between;
    height: 100%;
}

.grid-element p
{
    width: auto;
    height: auto;
    max-width: var(--gridwidth);
    max-height: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display: flex;
    color: rgb(169, 169, 169);
    /*border: 2px solid gold;*/
}

.grid-element h4
{
    color: rgb(236, 236, 236);
    width: 100%;
    height: auto;
    max-width: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display: flex;
    height: auto;
}

.grid-element h5
{
    color: rgb(236, 236, 236);
    width: 100%;
    height: auto;
    max-width: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display: flex;
    height: auto;
}

/* Image Container */
.image-container {
    width: 100%;
    height: 100%;
    max-width: var(--gridwidth);
    max-height: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    /*border: 3px solid red;*/
}

.image-container img {
    width:  var(--gridwidth);
    height: auto;
    max-width: var(--gridwidth); /* Prevents them from getting too large */
    object-fit: cover;
    /*border: 5px solid blue;*/
}

.logo-container {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    /*border: 3px solid red;*/
}
.logo-container img
{
    width: 50px;
    height: auto;
    max-width: 50px; /* Prevents them from getting too large */
    object-fit: cover;
    /*border: 5px solid blue;*/
}

.slist{
    --gridwidth: 300px;
    display: flex;
    padding: 5px 5px;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
}

.slist-items a{
    height: 100%;
    color: white;
    font-family: sans-serif;
    transition: 0.4s;
    display: block;
}

.slist-items a:hover{
    color:green
}

    
.centered
{
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

.clickable-button
{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

