@media screen and (max-width:825px) {

.expandable {
    --xy-padding: 14px;
    --border-radius: 6px

    max-width: 500px;
    font-size: 2em;
    font-family: 'Inter',sans-serif;

   text-shadow: -1px -1px 0 purple, 1px -1px 0 purple, -1px 1px 0 purple, 1px 1px 0 purple;
    
}


.expandable--open .expandable__content-wrapper{
    grid-template-rows: 1fr;
 

}

.expandable--open .expandable__icon {
    transform: rotate(-90deg);
}

.expandable__title-bar
{
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    cursor: pointer; 
    background-color: rgb(22, 0, 21);
    width:100vw;
    height: 10vh;
    padding-right: 2em;
}
.expandable__title-bar:hover
{
    color:green
}

.expandable__content
{
    padding: 0 0;
    line-height: 1.4;
    color: black;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
    list-style: none;
    z-index: 1; 
    
}


.expandable__content-wrapper
{
    display: grid;
    
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
    background-color: rgb(22, 0, 21);
}

.internal-expandable {
    --xy-padding: 14px;
    --border-radius: 6px

    max-width: 500px;
    font-family: 'Inter',sans-serif;
    
}

.internal-expandable--open .internal-expandable__content-wrapper{
    grid-template-rows: 1fr;
}

.internal-expandable--open .expandable__icon {
    transform: rotate(-90deg);
}

.internal-expandable__title-bar
{
    display: flex;
    align-items: center;
    user-select: none;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    color: white;
    cursor: pointer; 
}
.internal-expandable__title-bar:hover
{
    color:green
}

.internal-expandable__content
{
    padding: 0 0;
    line-height: 1.4;
    color: black;
    border-radius: 0 0  var(--border-radius) var(--border-radius);
    overflow: hidden;
    list-style: none;
    z-index: 1; 
        padding-left: 40px;
        background-color: rgb(22, 0, 21);
    
}

.internal-expandable__content-wrapper
{
    display: grid;
    
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;
}


.list{
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    padding-right: 10%;    
}
.list-items a{
    color: white;
    font-family: sans-serif;
    transition: 0.4s;
}
.list-items a:hover{
    color:green
}
}

@media screen and (min-width:825px) {

    .expandable {
        --xy-padding: 14px;
        --border-radius: 6px
    
        max-width: 800px;
        font-size: 1.25em;
        font-family: 'Inter',sans-serif;
        text-shadow: -1px -1px 0 purple, 1px -1px 0 purple, -1px 1px 0 purple, 1px 1px 0 purple;
    }
    
    .expandable--open .expandable__content-wrapper{
        grid-template-rows: 1fr;
    }
    
    .expandable--open .expandable__icon {
        transform: rotate(-90deg);
        
    }
    
    .expandable__title-bar
    {
        display: flex;
        align-items: center;
        user-select: none;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        color: white;
        cursor: pointer; 
    }
    .expandable__title-bar:hover
    {
        color:green
    }
    
    .expandable__content
    {
        
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        padding: 2.5%;
        height: 15vh;
        justify-content: space-between;
        
    }
    
    
    .expandable__content-wrapper
    {
        background-color: rgb(22, 0, 21);
    }
    
    .internal-expandable {
        --xy-padding: 14px;
        --border-radius: 6px

        max-width: 500px;

        padding: 0 10px;
        font-size: 1.25em;
        font-family: 'Inter',sans-serif;

    }
    
    .internal-expandable--open .internal-expandable__content-wrapper{
        grid-template-rows: 1fr;
        align-items: center;
    }
    
    .internal-expandable--open .expandable__icon {
        transform: rotate(-90deg);
    }
    
    .internal-expandable__title-bar
    {
        display: flex;
        align-items: center;
        user-select: none;
        border-radius: var(--border-radius) var(--border-radius) 0 0;
        color: white;
        cursor: pointer; 


        padding: 10px 10px;
    }
    .internal-expandable__title-bar:hover
    {
        color:green
    }
    
    .internal-expandable__content
    {
        padding: 0 0;
        line-height: 2.5;
        font-size: 0.9em;
        color: black;
        border-radius: 0 0  var(--border-radius) var(--border-radius);
        overflow: hidden;
        list-style: none;
        z-index: 1; 
        
    }
    
    .internal-expandable__content-wrapper
    {
        display: grid;
        
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.3s ease-in;
        
    }

    
    .list{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 48.44px;
    }

    .list-items a{
    color: white;
    font-family: sans-serif;
    font-size: 1.25em;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    
    }
    .list-items a:hover{
    color:green
    }

    .portfolio_list{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .portfolio_list-items a{
    color: white;
    font-family: sans-serif;
    font-size: 0.9em;
    transition: 0.4s;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background-color: rgb(23, 23, 23);
    }
    .portfolio_list-items a:hover{
    color:green
    }
}