/*When screensize is computer screen size*/
@media screen and (min-width: 825px) {
*{
    margin: 0;
    box-sizing: border-box;
    font-size: 20;
    color:white;
}

.navspacer
{
    width: 100%;
    height: 15vh;
}

html{
    scroll-behavior: smooth;
    background-color: black;
}


a {
text-decoration: none;
}

ul
{
    list-style: none;
    box-sizing: border-box;
}

.navmenu {    
    display: flex;
    align-items: center;
    margin-right: -24px;
    /* Second Nav */
    /* margin-right: 24px; */
    /* Third Nav */
    /* width: 100vw;
    white-space: nowrap; */
}
/* NavMemu Variation*/
.navbar {
    
    position:fixed;
    z-index: 10;
    top:0px;
    left: 0;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: rgb(22, 0, 21);
    width: 100%;
}
.logo{
    padding-left: 2em;
}
.logo-text{
    font-size: 1.5em;
}

.menubar{
    width: 45%;
    padding: 5px 5px;
    margin-left: 8.5em;
    align-items: center;
    @media screen and (max-width: 768px) {
        width: 45%;
        padding: 50px 50px;
        margin-left: 0em;
        align-items: center;
    }
}


.mainmenu
{
    padding-left: 2em;
    padding: 50px;
}

.special_icons
{
    display: flex;
}

}

/*When screensize is mobile*/
@media screen and (max-width: 825px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 20;
        color:white;
    }
    /* #region name */

    html{
        scroll-behavior: smooth;
        background-color: black;
    }
    
    a {
    text-decoration: none;
    }
    
    ul
    {
        list-style: none;
        box-sizing: border-box;
    }
    
    .navmenu {    
        display: flex;
        align-items: center;
        margin-right: -24px;
        /* Second Nav */
        /* margin-right: 24px; */
        /* Third Nav */
        /* width: 100vw;
        white-space: nowrap; */
    }
    /* NavMemu Variation*/
    .navbar {
        
        justify-content: space-between;
        align-items: baseline;
        height: 10vh;
    }
    .logo{
        padding-left: 2em;
    }
    .logo-text{
        font-size: 1.5em;
    }
    
    .menubar{
        width: 45%;
        padding: 5px 5px;
        margin-left: 8.5em;
        align-items: center;
        @media screen and (max-width: 768px) {
            width: 45%;
            padding: 50px 50px;
            margin-left: 0em;
            align-items: center;
        }
    }
    
    .mainmenu
    {
        padding-left: 2em;
        padding: 50px;
    }
    
    .special_icons
    {
        display: flex;
    }
}

.banner1{
    height: 30vw;
    display: block;
    max-width: auto;
    background: url("images/UserProfileBackgroundV1.png") center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: none;
}

.banner2{
    height: 30vw;
    display: block;
    max-width: auto;
    background: url("images/SoulSync\ City\ Website\ Banner.jpg") center center/cover;
    top: 0;
    left: 0;
    z-index: -1;
    min-width: none;
}

input
{
    color: purple;
}

textarea
{
    color: purple;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.asdf
{
    min-width: 170px;
    max-width: 500px;
    display: inline-flex;
    width: 100%;
    padding-right:20px;
}

.basfas
{
    display: inline-block;
    width: 100%;
    padding-left: 20px;
    justify-content: space-between;
}

.container {
  background-color: #393333;
  padding: 20px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}   

.divider
{
    border-top: 3px solid #bbb;
}
  

/* #region name */
.main
{
    --padding: 5vw;
    display: inline-block;
}

.spacer
{
    width: 100%;
    height: 80px;
}


.about
{
    background-color: #181818;
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.portfolio
{
    width: 100%;
    height: 100%;
    background-color: #252525;
    padding: 10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.resume_container
{
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
}

.resume_container object
{
    width: 100%;
    height: 100%;
}

.main h1
{
    font-size: 40px;
    color:rgb(143, 0, 143);
    text-decoration: underline;
}

.grid-element
{
    --gridwidth: 300px;
    display: inline-block;
    /*border: 2px solid white;*/
    justify-content: space-between;
    height: 100%;
    padding: 5px;
}

.grid-element p
{
    width: auto;
    height: auto;
    max-width: var(--gridwidth);
    max-height: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display: flex;
    color: rgb(169, 169, 169);
    /*border: 2px solid gold;*/
}

.grid-element h4
{
    color: rgb(236, 236, 236);
    width: 100%;
    height: auto;
    max-width: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display: flex;
    height: auto;
}

.grid-element h5
{
    color: rgb(236, 236, 236);
    width: 100%;
    height: auto;
    max-width: var(--gridwidth);
    position: relative;
    overflow: hidden;
    display: flex;
    height: auto;
}

/* Image Container */
.image-container {
    --imgwidth: 320px;
    width: 100%;
    height: 100%;
    max-width: var(--imgwidth);
    max-height: var(--imgwidth);
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    /*border: 3px solid red;*/
}

.image-container img {
    width:  auto;
    height: auto;
    min-width: 180px;
    max-width: var(--imgwidth); /* Prevents them from getting too large */
    object-fit: cover;
    /*border: 5px solid blue;*/
}

/* Image Container */
.big_image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    /*border: 3px solid red;*/
}

.big_image-container img {
    --bimgwidth: 400px;
    width:  auto;
    height: auto;
    min-width: 180px;
    max-width: var(--bimgwidth); 
    max-height: var(--bimgwidth);/* Prevents them from getting too large */
    object-fit: cover;
    /*border: 5px solid blue;*/
}

/* Image Container */
.banner_image-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    /*border: 3px solid red;*/
}

.banner_image-container img {
    width:  auto;
    height: auto;
    min-width: 180px;
    object-fit: cover;
    /*border: 5px solid blue;*/
}

.logo-container {
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    position: relative;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; /* Allows images to wrap on smaller screens */
    /*border: 3px solid red;*/
}
.logo-container img
{
    width: 50px;
    height: auto;
    max-width: 50px; /* Prevents them from getting too large */
    object-fit: cover;
    /*border: 5px solid blue;*/
}

.slist{
    display: flex;
    padding: 5px 5px;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
}

.slist-items a{
    height: 100%;
    color: white;
    font-family: sans-serif;
    transition: 0.4s;
    display: block;
}

.slist-items a:hover{
    color:green
}

.centered
{
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    max-height: 200px;
}

.clickable-button
{
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    display: inline-block;
    background: #FF2449;
    color: white;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
    text-shadow: 0 2px 0 #c3223e;
    background: var(--itchio_button_color, #FF2449);
    color: var(--itchio_button_fg_color, white);
    text-shadow: 0 2px 0 var(--itchio_button_shadow_color, #c3223e);
    cursor: pointer;
    border-radius: 3px;
    border: none;
    border: 2px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.21);
    text-align: center;
    line-height: 53px;
    font-weight: bold;
    height: 55px;
}

.user-img
{
    --imgwidth: 320px;
    width: 100%;
    height: 100%;
    max-width: var(--imgwidth);
    position: relative;
    overflow: hidden;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    flex-wrap: wrap; 
}

.user-img img
{
    border-radius: 50%;
    width:  auto;
    height: auto;
    min-width: 180px;
    object-fit: cover;
}

.stackable
{
    display: flex;
    padding: 5px 5px;
    justify-content: center;
    flex-wrap: wrap;
    
    margin-left: auto;
    margin-right: auto;
}


