/*When screensize is tablet sized*/
@media screen and (max-width: 500px){
    .section-divided-textlist h2
    {
        font-size: 1em;
        margin-left: auto;
        margin-right: auto;
    }
    .section-divided-textlist p
    {
        font-size: .75em;
        margin-left: auto;
        margin-right: auto;
    }
}

.textlist_bulletpoint
{
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.textlist_bulletpoint h4
{
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
}
.textlist_bulletpoint li
{
    list-style:disc;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
    font-size: 16px;
    margin-left: 25px;
    margin-right: auto;
}


h1{
    /*background-color: red;*/
    color: purple;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
}

h2{
    /*background-color: red;*/
    color: purple;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
    font-size: 2em;
}

h3{
    /*background-color: red;*/
    color: purple;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
    font-size: 1.5em;
}

/* General Styling */
.otherpages {
    --padding: 10vw;
}

/* Section Containers */
.section-divided {
    /*background-color: red;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.section-container {
    display: flex;
    justify-content: center;
    /*background-color: green;*/
    padding: 10px;
    flex-wrap: wrap;
}

.section-container-spaced {
    display: flex;
    justify-content: space-between;
    /*background-color: green;*/
    padding: 10px;
    flex-wrap: wrap;
}

/* Header */
.section_title,
.responsibilities,
.worked_on_details,
.download_link,
.other_stuff,
.section-divided__header {
    width: 100%;
    height: 100%;
    padding: 10px;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.section_title
{
    background-color: rgb(40, 40, 40);
}

.responsibilities
{
    background-color: rgb(54, 54, 54);
}

.worked_on_details
{
    background-color: rgb(40, 40, 40);
}

.download_link
{
    background-color: rgb(54, 54, 54);
}

.section-divided__header {
    background-color: rgb(30, 30, 30);
}



/* Flex-based Section Styling */
.section-h-left,
.section-left,
.section-h-right,
.section-right,
.section-divided-equally,
.section-divided-equally-centered,
.section-divided-centered {
    display: flex;
    /*background-color: rgba(255, 255, 0, 0.316);*/
}

/* Left and Right Sections */
.section-h-left {
    max-width: 577.8px;
    margin-right: 1.25%;
}

.section-h-right {
    max-width: 259.4px;
    margin-left: 1.25%;
    /*background-color: blue;*/
}

/* Left and Right Sections */
.section-left {
    max-width: 577.8px;
    margin-right: 1.25%;
}

.section-right {
    max-width: 577.8px;
    margin-left: 1.25%;
    /*background-color: blue;*/
}


/* Equally Divided Sections */
.section-divided-equally,
.section-divided-equally-centered {
    max-width: 400px;
    margin-right: 2.5%;
    display: block;
}

.section-divided-equally h3
{
    font-size: 1.5em;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
}
.section-divided-equally p
{
    font-size: 1em;
    text-shadow: -1px -1px 0 rgb(42, 0, 42), 1px -1px 0 rgb(42, 0, 42), -1px 1px 0 rgb(42, 0, 42), 1px 1px 0 rgb(42, 0, 42);
}

/* Centered Content */
.section-divided-centered,
.section-divided-equally-centered {
    justify-content: center;
    align-items: center;
}

/* Section Stack */
.section-divided-stack {
    padding: 0;
    line-height: 1.4;
    color: black;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    overflow: hidden;
    list-style: none;
    z-index: 1;
}

/* Video Container */
.video-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.section-divided-equally-centered .video-container iframe
{
    width: 400px;
    height: 225px;
}
.section-h-left .video-container iframe
{
    width: 577px; 
    height: 313.3125px;
}


.video-container video {
    width: 100%;
    height: 100%;
}

/* List and Header Adjustments */
.section-divided-centered li {
    padding-left: 5%;
}

.section-divided-centered h3 {
    text-decoration: underline;
}